@import "../../../../../styles/colors/colors.module";

.stuffListItem {
	padding: 8px 0;
	border-bottom: 1px solid $disabled;
	transition: background-color .2s;
	cursor: pointer;
}

.stuffListItem:last-child {
	border-bottom: none;
}

.stuffListItem.module > div {
	padding: 0 4px;
	display: flex;
	align-items: center;
}

.stuffListItem:hover {
	background-color: lighten($disabled, 20%);
}

.assistanceListItem__description {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
