@import "../../../../../styles/colors/colors.module";

.navigationListCollapseSection {
	background-color: $navHoverBackGround;
	padding: 8px 0;
}

.navigationListCollapseSection__item {
	padding-left: 36px;
	position: relative;

	@include hover {
		background-color: $navBackGround;
	};
}

.navigationListCollapseSection__activeItem {
	color: $primary;

	::before {
		content: '';
		position: absolute;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background-color: $primary;
		left: 20px;
		top: 20px;
	}
}
